/**
 * Instructions: If you haven't done this yet, create a copy of this .sample file (removing .sample in the copy's filename).
 * Then replace values as instructed below.
 */
module.exports = {
    client_secret: "copy your client secret here"
}